@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap");
@import "utility";
@import "typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: poppins, sans-serif;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url("../images/sky.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

li {
  list-style: none;
}

#layout-container {
  // width: 90vw;
  max-width: 140rem;
  margin: 0 auto;
  overflow-x: hidden;
}

// .language-icon section {
//   min-height: 100vh;
//   max-width: 90vw;
//   margin: 0px auto;
//   padding-top: 2rem;
//   padding-bottom: 2rem;
// }

section {
  padding-top: 3rem;
}

nav {
  display: flex;
  column-gap: 2rem;
  width: 100%;
  background-color: #415a76;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  position: sticky;
  top: 0px;
  .mobile-nav {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: center;
  }
  a {
    color: white;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 1.3em;
    font-weight: bold;
  }
  .site-language {
    display: inline-flex;
    justify-content: flex-end;
    width: 10%;
    order: 2;
    .language-icon {
      width: 3rem;
      height: 3rem;
      opacity: 0.5;
    }
  }
}

nav.sticky {
  position: fixed;
  max-width: 140rem;
  opacity: 0.7;
  top: 0;
}

nav.sticky .menu-icon-container {
  opacity: 0.8;
}

// nav.sticky:hover {
//   opacity: 1;
// }

// @media (hover: none) {
//   nav.sticky:active {
//     opacity: 1;
//   }
// }

section#header {
  min-height: 8vh;
}

section#section-header2 {
  min-height: 20rem;
}

section#section-intro {
  background-color: rgba(191, 213, 226, 0.7);
}

#section-consult-child {
  article {
    width: 100%;
    .sub-section-teen {
      padding-bottom: 10rem;
    }
  }
  li {
    // font-size: 1.5em;
    margin-bottom: 0.75rem;
  }
}

#section-contact {
  p {
    font-size: 1.6rem;
    font-weight: bolder;
  }
}

li:last-child {
  margin-bottom: 0;
}

.header-text-box {
  align-self: center;
}

img {
  border-radius: 1.5rem;
  /* width: 75%; */
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

/*Start Social Media Icons*/

.social-icons {
  margin-top: 10px;
  .social-icon {
    color: #fff;
  }
  li {
    vertical-align: top;
    display: inline;
    height: 100px;
  }
  a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
  }
}

.icon-facebook {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}

.icon-facebook:hover {
  background-color: #3d5b99;
}

.icon-instagram {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}

.icon-instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.float-wp {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 3rem;
  right: 3rem;
  background-color: #25d366;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 3rem;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/*End Social Media Icons*/

/*Start Google Maps*/

.contact-maps-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0 3rem;
}

.time-card-wrapper {
  flex: 1;
  .hour-img {
    /* width: 4rem; */
    margin-bottom: -2rem;
  }
}

.time-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #023423;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  color: #086c4a;
  min-height: 13rem;
  margin-bottom: 1rem;
  time {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.time-item .contact-map-card {
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
}

.contact-map {
  display: inline-block;
  height: 40rem;
  width: 100%;
  border-radius: 1.5rem;
}

.contact-map-card .weekdays {
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem 0;
}

.contact-map-card .time-period {
  border: 2px solid #086c4a;
  background-color: #fff;
  color: #086c4a;
  padding: 2rem;
  border-radius: 1rem;
}

.day-item.open-day {
  background-color: #086c4a;
  color: #fff;
}

.day-item {
  min-width: 8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #b9b9b9;
  color: #8a8585;
  font-size: 1.5rem;
  text-align: center;
}
/*End Google Maps*/

.cardA {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  min-height: 52rem;
  width: 45rem;
  display: inline-block;
}

.card_side {
  min-height: 50rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  min-height: 23rem;
  ul {
    text-align: left;
    padding-top: 1rem;
  }
  li,
  p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: left;
    letter-spacing: 1px;
  }
  li::first-letter {
    font-weight: bolder;
    letter-spacing: 1.5px;
  }
}

.card-polygon {
  background-size: cover;
  height: 27rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.3; /* You can adjust the opacity as desired */
  }
}

.color-overlay-child-A {
  background: linear-gradient(to right bottom, #ffbb00, #ff7730);
}

.color-overlay-child-B {
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.color-overlay-child-C {
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.color-overlay-teenager-A {
  background: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.color-overlay-teenager-B {
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.color-overlay-adult-A {
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.color-overlay-adult-B {
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.color-overlay-family-A {
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.color-overlay-gameTherapy-A {
  background: linear-gradient(to right bottom, #7ed56f, #bc1487);
}

/*
 cards
*/
.cards {
  font-size: 1.5rem;
}

@import "media-queries";
